/*============================================*/ 
/*-------nativo de  movil---------*/ 
/*============================================*/ 
.boxDes{
    background-color: rgba(255,255,255,.9);
}
.hvr-grow {
    display: block!important;
}
.boxEve{
    padding: 1rem;
    word-wrap: break-word;
}
.formEve{
    border: 2px solid rgba(86, 0, 39, 1);
    background-size: cover;
    background-position: center;
}
.cateCute{
    padding-bottom: 3rem!important;
}
.hvr-underline-from-center:before {
    background: #12005e!important;
    height: 6px!important;
}
.selCute{
    background-color: rgba(255,255,255,.7);
    font-weight: 600;
}
.titCute{
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px #000;
    height: 140px;
    text-align: left;
    padding-top: 2rem;
    padding-left: 3rem;
}
.iCute{
    margin-top: 1.5rem!important;
}



.borde{ 
    border-radius: 80px 80px 80px 80px; 
    -moz-border-radius: 80px 80px 80px 80px; 
    -webkit-border-radius: 80px 80px 80px 80px; 
    border: 0px solid #000000; 
} 
.linkPIE{ 
    color: rgba(200, 200, 200, 1); 
} 
.linkPIE:hover{ 
    color: rgba(255, 255, 255, 1); 
} 
.nav-link{ 
    font-size: 1rem!important; 
    font-weight: 600; 
} 
.dropdown-menu{ 
    text-align: right!important; 
} 
.contResp{ 
    padding-top: 15px; 
}
.subCont{ 
    font-size: 15px; 
    margin-bottom: 20px!important; 
} 
.formResp{ 
    text-align: center; 
 
} 
.nosTit{ 
    color: rgba(255, 255, 255, 0.75);
    font-weight: 700; 
    font-size: 3rem; 
    text-align: center; 
    text-shadow: 2px 2px #000;
} 
.nosSub{ 
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.3rem; 
    text-align: center;
} 
.nosPar{ 
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem; 
} 
.centro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.celuCute{
    padding-top: 4.5rem!important;
    padding-bottom: 3rem!important;

}
.boxFoto{
    height: 160px;
}
.stitProd{ 
    margin: 0;
    font-size: 0.75rem; 
    text-align: center; 
    position: absolute; 
    background-color: rgba(2, 78, 12, 0.3); 
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 0;
}
.precioP{ 
    font-size: 1.3rem!important;
    position: absolute;
    left: 10%;
    top: 15%;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
} 
.precioS{ 
    font-size: 1.7rem!important;
    position: absolute;
    left: 6%;
    top: -75%;
    color: red;
    font-weight: 700;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
} 
.titProd{
    z-index: 1;
    margin: 0; 
    text-align: center; 
    letter-spacing: 1px; 
    color: white; 
    font-size: 0.9rem; 
    position: absolute; 
    background-color: rgba(2, 78, 12,0.75); 
    width: 100%; 
    top: 0; 
    left: 0; 
    font-weight: 650;
    height: 50px;
    font-family: 'Exo 2', sans-serif;
} 
.botProd{
    background-color: rgba(2, 78, 12,0.75);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    height: 50px;
}
.primerDiv,.primerDivX{ 
    font-weight: 700; 
    font-size: 1.25rem; 
 
} 
.primerDiv{ 
    text-shadow: 1px 1px #fff; 
} 
.primerDivX{ 
    text-shadow: 1px 1px #000; 
} 
.fondoBot{ 
        background-image: url("../img/f5.jpg"); 
        height: 300px;
} 
.fondoBot2{ 
        background-image: url("../img/f6.jpg"); 
        height: 300px;
}
.fondoBot3{ 
        background-image: url("../img/f1.jpg"); 
        height: 300px;
}
.fondoBot4{ 
        background-image: url("../img/f2.jpg"); 
        
}
.fondoBot,.fondoBot2,.fondoBot3,.fondoBot4{ 
        background-position: center; 
        background-size: cover; 
        height: 300px;
} 
.mayCont{ 
    text-decoration: none!important; 
    font-size: 1.5rem; 
    color: rgba(2, 78, 12, 0.60)!important; 
    font-weight: 700; 
}
.mayResp{ 
    padding-top: 15px; 
    color: rgba(255,255,255, 1)!important;
    text-shadow: 3px 3px #000; 
} 
.mayTit{ 
    font-size: 1.25rem; 
} 
.maySub{ 
    font-size: 1.5rem;
    text-shadow: 1px 1px #000; 
} 
 
.imgFondo { 
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/301664/pexels-photo-301664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    margin: 0;
    position: relative;
} 
.logo1{ 
    height: 60px;    
} 
.logo2{ 
    width: 80px; 
    height: 20px;   
} 
.logo3{ 
    width: 100px;
    height: 100px;
    margin-top: 20px;   
} 
.hojaXS{ 
    width: 30px; 
    height: 39px; 
 
} 
.respPie{ 
    font-size: 0.75rem; 
} 
.titPIE, .cuePIE{ 
    text-align: center; 
 
} 
.titPIE{ 
    padding-top: 15px; 
}
.cueCredi{
    padding-top: 1rem;
}
.titCabe{ 
    font-size: 0.55rem!important; 
} 
.cuePIE{ 
    color: rgba(200, 200, 200, 1); 
} 
.posLinks{ 
    padding-top: 35px; 
} 
.navbar-nav .nav-item { 
    color: #4c4c4c!important; 
} 
.navbar{ 
    font-size: 0.7rem; 
} 
/*==========categorias=================*/
.headCate{ 
    font-size: 2.2rem; 
    color: rgba(18, 0, 94, 0.60)!important; 
    font-weight: 700; 
    padding-top: 60px;
}
.titCate {
    color: rgba(255, 193, 7, 1)!important;
    text-shadow: 0.5px 0.5px #000;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 1.2rem;
    width: 180px;
    font-weight: 800;
}
.imgCate{ 
    width: 200px;
    height: 100px;
    border-radius: 200px 200px 200px 200px;
    opacity: 0.95;
    border: 2px solid rgba(255, 193, 7, 1); 
} 
.frameCategoria{
    padding: 5px;
}
.enlaceCate:hover{ 
    text-decoration: none!important; 
}
/*==============red social================*/
.redCute{
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1210276/pexels-photo-1210276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.boxCute{
    border-bottom: 2px solid white;
}
/*==============organizadores================*/
.imgOrga{
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/f7.png);
}
.orgSub{ 
    color: rgba(18, 0, 94, 0.75);
    font-size: 1.6rem; 
}
.orgTit{
    color: rgba(255, 193, 7, 1);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.75);
}
.orgCute{
    color: white;
    font-size: 2.3rem;
    text-shadow: 1px 1px #000;
    font-weight: 600;
}

/*============= error 404 ==============*/
.sub404{
    font-size: 3rem;
}
.tit404{
    font-size: 8rem;
}
.link404{
    font-size: 1.5rem;
}

.sub404,.tit404,.link404{
    color: rgba(18, 0, 94, 1);
}

/*
 * Inicio Sesion
 */

.fondoLog{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
}
.titLog{
  font-size: 2.5rem!important;
}
.stitLog{
  font-size: 1.5rem!important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.faCute{
    color: rgba(86, 0, 39, 1)!important;
}



/*============================================*/ 
/*-------cuando se agranda celu largo---------*/ 
/*============================================*/ 
@media (min-width: 576px){
    .celuCute{
        padding-top: 5rem!important;
    }
    .logo1{ 
        height: 80px;    

    } 
    .navbar-toggler {
        font-size: 1.8rem!important;
    }
    .iCute{
        margin-top: .5rem!important;
    }
    .faCute{
        font-size: 3em!important;
    }
    .btnVer{
        font-size: 1rem;
    }
    .btnAgre{
        font-size: 1rem;
    }
    .valorProd{
        font-size: 1.5rem;
    }
    .subCont{ 
        font-size: 1.3rem; 
    }
    .respPie{ 
        font-size: 1rem; 
    } 
    .logo2{ 
        width: 110px; 
        height: 28px;   
    } 
    .titCabe{ 
        font-size: 0.8rem!important; 
    } 
    .nosTit{ 
        font-size: 3.5rem; 
    } 
    .hojaXS{ 
        width: 40px; 
        height: 58px;  
    } 
    /*==========categorias=================*/
    .titCate {
        top: 15%;
        font-size: 2.2rem;
        width: 300px;
        left: 3%;
    }
    .imgCate{ 
        width: 320px;
        height: 160px; 
    }
    /*==============organizadores================*/
    .orgTit{
        font-size: 4rem;
    }
    /*---------------extra---------------------*/ 
    .fotoVolver{ 
        font-size: 4rem; 
    }
    .form-inline .form-control {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
    }
    
} 
 
/*============================================*/ 
/*-------cuando se agranda a tablet---------*/ 
/*============================================*/ 
@media (min-width: 768px) { 
    .titCute{
        font-size: 3.5rem;
        height: 200px;
    }
    .faCute{
        font-size: 4em!important;
    }
    .boxCute{
        border-bottom: unset;
        border-right: 2px solid white;
    }
    
    .boxFoto{
        height: 250px; 
    }
    .infoProd{
        font-size: 1.15rem; 
    }
    #exampleSlider .MS-content .item { 
        width: 50%;              /* required * Determines number of visible slides */
    } 
     
    .navbar{ 
        font-size: 0.8rem; 
    } 
    h5{ 
        font-size: 1.15rem; 
    } 
    .primerDiv,.primerDivX{ 
        font-size: 1.5rem; 
 
    } 
    .cuePIE{ 
        text-align: left; 
    } 
    .contResp{ 
        padding-top: 0px; 
    } 
    .posLinks{ 
    padding-top: 10px; 
    } 
    .mayTit{ 
    font-size: 1.5rem; 
    } 
    .maySub{ 
        font-size: 1.8rem;
    }
    /*==============organizadores================*/
    .orgTit{
        font-size: 4.5rem;
    }

    /*============= error 404 ==============*/

    .tit404{
        font-size: 15rem;
    }

} 
/*============================================*/ 
/*-------cuando se agranda notebook---------*/ 
/*============================================*/ 
@media (min-width: 992px){  
    .celuCute{
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        position: absolute;
        top: 15%;
        display: block;
    }
    .video { 
        left: 0; 
        width: 100%; 
        position: relative; 
        display: inline-block; 
        margin: 0 0 0 0;
        background-color: rgba(86, 0, 39, .85);
        min-height: 250px;
             
    }
    .faCute{
        color: rgba(255, 193, 7, 1)!important;
    }
    
    .cateCute{
        position: absolute;
        bottom: 10px;
        background-image: none;
        padding-bottom: 0rem!important;
    }
    
    .imgFondo{ 
        display: inline-block!important; 
    }
    .logo3{ 
        width: 200px;
        height: 200px; 
    } 
     
    .dropdown-menu{ 
        text-align: left!important; 
    } 
    .navSpace{ 
        padding-right: 0px; 
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: .5rem; */
        padding-right: 0rem;
        padding-left: 0rem;
    }
} 
/*============================================*/ 
/*-------cuando se agranda a fullhd---------*/ 
/*============================================*/ 
@media (min-width:1200px) {
    .celuCute{
        top: 12%;
    }
    .titCute{
        font-size: 4.5rem;
        height: 240px;
    }
    .faCute{
        font-size: 5em!important;
    }
    #exampleSlider .MS-content .item { 
        width: 33.3%;              /* required * Determines number of visible slides */
    } 
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: .5rem; */
        padding-right: .5rem;
    }
    .nav-link{ 
        font-size: 1.15rem!important; 
    } 
    .logo1{ 
        width: 90px;
        height: 90px; 
    } 
 
    .logo2{ 
        width: 150px; 
        height: 40px; 
    } 
    .titCabe{ 
        font-size: 2rem!important; 
    } 
     
    .secTien{ 
        height: 450px!important; 
    }
    .nosTit{ 
        font-size: 3.5rem; 
    }
    /*==========categorias=================*/
    
    .cateCute{
        bottom: 50px;
    }
    .fondoBot{ 
    height: 500px;
    }


    
    .nosSub{ 
        font-size: 3rem; 
    } 
    .nosPar{ 
        font-size: 1.7rem; 
    } 




    .orgTit,.nosTit{
        font-size: 5rem;
    }
    .orgSub{
        padding-top: 1.8rem;
        font-size: 2rem;
    }
    .orgCute{
        font-size: 3rem;
    }
} 

/*============================================*/ 
/*-------cuando se agranda a fullhd---------*/ 
/*============================================*/ 
@media (min-width:1900px) {
    .titCute{
        padding-left: 6rem;
    }
    .celuCute{
        top: 20%;
    }
    .cateCute{
        bottom: 120px;
    }
} 
 
@media (min-width: 768px) and (max-width: 991.98px) { 
    .fotoNosResp{ 
        margin-left: 70px; 
    } 
} 
@media (min-width: 768px) and (max-width: 1200px) { 
    .fotoCate1,.fotoCate2{ 
        font-size: 2.5rem; 
    } 
    /*---------------FARMACIA---------------------*/ 
    .fotoVolver{ 
        font-size: 2.5rem; 
    } 
} 
    
