/*============================================*/ 
/*-------nativo de  movil---------*/ 
/*============================================*/ 


.hvr-underline-from-center:before {
    background: #12005e!important;
    height: 6px!important;
}
.selCute{
    background-color: rgba(255,255,255,.7);
    font-weight: 600;
}
.titCute{
    font-size: 2rem;
    color: white;
}


.borde{ 
    border-radius: 80px 80px 80px 80px; 
    -moz-border-radius: 80px 80px 80px 80px; 
    -webkit-border-radius: 80px 80px 80px 80px; 
    border: 0px solid #000000; 
} 
.linkPIE{ 
    color: rgba(200, 200, 200, 1); 
} 
.linkPIE:hover{ 
    color: rgba(255, 255, 255, 1); 
} 
.nav-link{ 
    font-size: 1rem!important; 
    font-weight: 600; 
} 
.dropdown-menu{ 
    text-align: right!important; 
} 
.contResp{ 
    padding-top: 15px; 
}
.subCont{ 
    font-size: 15px; 
    margin-bottom: 20px!important; 
} 
.formResp{ 
    text-align: center; 
 
} 
.nosTit{ 
    color: rgba(255, 255, 255, 0.75);
    font-weight: 700; 
    font-size: 1.7rem; 
    text-align: center; 
} 
.nosSub{ 
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.4rem; 
} 
.nosPar{ 
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem; 
} 

.logo-centrado{ 
    color:rgba(80, 80, 80, 1); 
    position: absolute; 
    top: 8%; 
    text-align: center; 
}
.fotoProdX{
    height: 220px; 
}
.fotoProd{
    height: 140px;
}
.stitProd{ 
    margin: 0;
    font-size: 0.75rem; 
    text-align: center; 
    position: absolute; 
    background-color: rgba(2, 78, 12, 0.3); 
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 0;
}
.popCata{
    background-image: url('../img/catCos.jpg');
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}
.precioP{ 
    font-size: 1.3rem!important;
    position: absolute;
    left: 10%;
    top: 15%;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
} 
.precioS{ 
    font-size: 1.7rem!important;
    position: absolute;
    left: 6%;
    top: -75%;
    color: red;
    font-weight: 700;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
} 
.titProd{
    z-index: 1;
    margin: 0; 
    text-align: center; 
    letter-spacing: 1px; 
    color: white; 
    font-size: 0.9rem; 
    position: absolute; 
    background-color: rgba(2, 78, 12,0.75); 
    width: 100%; 
    top: 0; 
    left: 0; 
    font-weight: 650;
    height: 50px;
    font-family: 'Exo 2', sans-serif;
} 
.botProd{
    background-color: rgba(2, 78, 12,0.75);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    height: 50px;
}
.primerDiv,.primerDivX{ 
    font-weight: 700; 
    font-size: 1.25rem; 
 
} 
.primerDiv{ 
    text-shadow: 1px 1px #fff; 
} 
.primerDivX{ 
    text-shadow: 1px 1px #000; 
} 
.fondoBot{ 
        background-image: url("../img/banner1M.jpg"); 
} 
.fondoBot2{ 
        background-image: url("../img/banner2M.png"); 
} 
.fondoBot3{ 
        background-image: url("../img/banner3M.png"); 
} 
.fondoBot2,.fondoBot,.fondoCont,.fondoBot3{ 
        background-position: center; 
        background-size: cover; 
         
} 
.mayCont{ 
    text-decoration: none!important; 
    font-size: 1.5rem; 
    color: rgba(2, 78, 12, 0.60)!important; 
    font-weight: 700; 
}
.mayResp{ 
    padding-top: 15px; 
    color: rgba(2, 78, 12, 0.60)!important; 
} 
.mayTit{ 
    font-size: 1.25rem; 
} 
.maySub{ 
    font-size: 15px; 
} 
.video { 
    left: 0; 
    width: 100%; 
    position: relative; 
    display: inline-block; 
    margin: 0 0 0 0;
    background-color: rgba(86, 0, 39, .85);
    min-height: 250px;
         
} 
 
.imgFondo { 
         
    background-position: center;  
    margin: 0; 
    background-size: cover; 
    display: inherit; 
 
} 
.logo1{ 
    width: 30px;
    height: 30px;    
} 
.logo2{ 
    width: 80px; 
    height: 20px;   
} 
.logo3{ 
    width: 100px;
    height: 100px;
    margin-top: 20px;   
} 
.hojaXS{ 
    width: 30px; 
    height: 39px; 
 
} 
.respPie{ 
    font-size: 0.75rem; 
} 
.titPIE, .cuePIE{ 
    text-align: center; 
 
} 
.titPIE{ 
    padding-top: 15px; 
}
.cueCredi{
    padding-top: 1rem;
}
.titCabe{ 
    font-size: 0.55rem!important; 
} 
.cuePIE{ 
    color: rgba(200, 200, 200, 1); 
} 
.posLinks{ 
    padding-top: 35px; 
} 
.navbar-nav .nav-item { 
    color: #4c4c4c!important; 
} 
.navbar-toggler { 
    padding: 0.15rem 0.25rem!important; 
    font-size: 0.85rem!important; 
} 
.navbar{ 
    font-size: 0.7rem; 
} 
.difuminado{ 
    position: relative; 
    border: 0;  
    height: 0; 
    -webkit-box-shadow: 0 0 10px 25px white; 
    -moz-box-shadow: 0 0 10px 25px white; 
    box-shadow: 0px 0px 10px 25px white; 
} 
/*==========categorias=================*/
.headCate{ 
    font-size: 1.5rem; 
    color: rgba(18, 0, 94, 0.60)!important; 
    font-weight: 700; 
    padding-top: 60px;
}
.cateCute{
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/301664/pexels-photo-301664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    opacity: .99;
}
.titCate {
    color: rgba(18, 0, 94, 1)!important;
    text-shadow: 1px 1px #fff;
    position: absolute;
    top: 30%;
    left: 21%;
    font-size: 1rem;
    width: 120px;
    font-weight: 600;
}
.imgCate{ 
    width: 200px;
    height: 100px;
    border-radius: 200px 200px 200px 200px;
    opacity: 0.8;
    border: 2px solid rgba(18, 0, 94, 1); 
} 
.frameCategoria{
    padding: 5px;
}
.enlaceCate:hover{ 
    text-decoration: none!important; 
}
/*==============red social================*/
.redCute{
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1210276/pexels-photo-1210276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.boxCute{
    border-bottom: 2px solid white;
}



/*============================================*/ 
/*-------cuando se agranda celu largo---------*/ 
/*============================================*/ 
@media (min-width: 576px){
    .btnVer{
        font-size: 1rem;
    }
    .btnAgre{
        font-size: 1rem;
    }
    .valorProd{
        font-size: 1.5rem;
    }
    .subCont{ 
        font-size: 1.3rem; 
    }
    .respPie{ 
        font-size: 1rem; 
    } 
    .logo2{ 
        width: 110px; 
        height: 28px;   
    } 
    .titCabe{ 
        font-size: 0.8rem!important; 
    } 
    .nosTit{ 
        font-size: 2.8rem; 
    }  
    .nosPar{ 
        font-size: 0.9rem; 
    } 
    .hojaXS{ 
        width: 40px; 
        height: 58px;  
    } 
    /*==========categorias=================*/
    .titCate {
        top: 20%;
        font-size: 1.8rem;
        width: 250px;
        left: 12%;
    }
    .imgCate{ 
        width: 320px;
        height: 160px; 
    }
    /*---------------FARMACIA---------------------*/ 
    .fotoVolver{ 
        font-size: 4rem; 
    }
    .form-inline .form-control {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
    }
} 
 
/*============================================*/ 
/*-------cuando se agranda a tablet---------*/ 
/*============================================*/ 
@media (min-width: 768px) { 
    .boxCute{
        border-bottom: unset;
        border-right: 2px solid white;
    }
    .logo-centrado{ 
        top: 18%; 
    }
    .logo1 {
        width: 50px;
        height: 50px;
    }
    .boxProd{
        height: 350px;
    }
    .fotoProd{
        height: 225px; 
    }
    .infoProd{
        font-size: 1.15rem; 
    }
    #exampleSlider .MS-content .item { 
        width: 50%;              /* required * Determines number of visible slides */
    } 
     
    .navbar{ 
        font-size: 0.8rem; 
    } 
    h5{ 
        font-size: 1.15rem; 
    } 
    .primerDiv,.primerDivX{ 
        font-size: 1.5rem; 
 
    } 
    .cuePIE{ 
        text-align: left; 
    } 
    .contResp{ 
        padding-top: 0px; 
    } 
     
    .nosSub{ 
        font-size: 1.6rem; 
    } 
    .nosPar{ 
        font-size: 1.15rem; 
    } 
    .posLinks{ 
    padding-top: 10px; 
    } 
    .mayTit{ 
    font-size: 1.5rem; 
    } 
    .maySub{ 
        font-size: 1rem; 
    } 
    .fondoBot{ 
        background-image: url("../img/banner1.jpg"); 
    } 
    .fondoBot2{ 
        background-image: url("../img/banner2.png"); 
    } 
    .fondoBot2,.fondoBot{ 
        background-attachment: fixed; 
    } 
    
} 
/*============================================*/ 
/*-------cuando se agranda notebook---------*/ 
/*============================================*/ 
@media (min-width: 992px){  
    
    .difuminado{ 
        -webkit-box-shadow: 0 0 25px 55px white; 
        -moz-box-shadow: 0 0 25px 55px white; 
        box-shadow: 0px 0px 25px 55px white; 
    } 
    
    .cateCute{
        position: absolute;
        top: 55%;
        background-image: none;
    }
    
    .imgFondo{ 
        display: inline-block!important; 
    }
    .logo3{ 
        width: 200px;
        height: 200px; 
    } 
     
    .dropdown-menu{ 
        text-align: left!important; 
    } 
    .navSpace{ 
        padding-right: 0px; 
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: .5rem; */
        padding-right: 0rem;
    }
} 
/*============================================*/ 
/*-------cuando se agranda a fullhd---------*/ 
/*============================================*/ 
@media (min-width:1200px) {
    #exampleSlider .MS-content .item { 
        width: 33.3%;              /* required * Determines number of visible slides */
    } 
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: .5rem; */
        padding-right: .5rem;
    }
    .nav-link{ 
        font-size: 1.15rem!important; 
    } 
    .logo-centrado { 
        top: 40%; 
    } 
    .logo1{ 
        width: 90px;
        height: 90px; 
    } 
 
    .logo2{ 
        width: 150px; 
        height: 40px; 
    } 
    .titCabe{ 
        font-size: 2rem!important; 
    } 
     
    .secTien{ 
        height: 450px!important; 
    }
    .nosTit{ 
        font-size: 3.5rem; 
    }
    /*==========categorias=================*/
    
    .cateCute{
        position: absolute;
        top: 75%;
    }
     
} 
 
@media (min-width: 768px) and (max-width: 991.98px) { 
    .fotoNosResp{ 
        margin-left: 70px; 
    } 
} 
@media (min-width: 768px) and (max-width: 1200px) { 
    .fotoCate1,.fotoCate2{ 
        font-size: 2.5rem; 
    } 
    /*---------------FARMACIA---------------------*/ 
    .fotoVolver{ 
        font-size: 2.5rem; 
    } 
} 
 
@media (min-width: 1200px) and (max-width: 1430px) { 
    
}
    
