/*============================================*/ 
/*-------nativo de  movil---------*/ 
/*============================================*/ 
body{
    background-color: rgba(0,0,0,.3);
}
.hvr-icon-fade:active .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:hover .hvr-icon {
    color: rgba(86, 0, 39,.7)!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9)!important;
}
.navbar-nav .nav-item {
    border-left: 2px solid rgba(255, 255, 255,0.5);
    padding-right: 20px;
    padding-left: .2rem;
}
.hvr-underline-from-center:before {
    background: rgba(255,255,255,.9)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(18, 0, 94, 1)!important;
}

.navPortal{
  padding: 25px;
}

.navPortalX{
  padding: 5px;
}

#txtValPro{
  width: auto;
  display: inline-block;
}
.titPortal{
  color:rgba(0, 51, 0,0.9);
  font-size: 4rem;
}
.linkPortal{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  font-size: .6rem;
}
.linkPortal:hover{
  color: inherit!important;
}
.xlinkPortal{
  font-size: 1.2rem;
  font-family: 'Exo 2', sans-serif;
}
.boxNav{
  border-bottom: 15px solid rgba(18, 0, 94,0.9);

}
.boxNav2{
  background-color: rgba(0,0,0,.2);
  font-family: 'Exo 2', sans-serif;
}

.btnAgregaP{
  width: 100%;
}

.btnEditarP{
  margin-top: 40px;
}
.btnBorrarP{
  margin-top: 40px;
}

.boxBuscarP .form-control{
  width:220px;
  display: inline-block;
}
.boxBuscarP .btn{
  vertical-align: inherit;
}

#txtBuscarP{
  width: auto;
  display: inline-block;
}
.boxProd{
  height: unset!important;
  margin-top: 15px!important;
  border-bottom: 2px solid green!important;
}
.formCute{
  margin-bottom: .2rem;
  text-align: left;
  font-size: .8rem;
  font-style: italic;
}
.btnEditPro{
  margin: 5px;
}
.cuteFA{
  font-size: 12rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  color: rgba(86, 0, 39, .85);
}
.cuteBoton{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventoApro, .eventoEspe, .eventoFina{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.eventoApro{
    background-color: rgba(27, 201, 0,.4);
}
.eventoFina{
    background-color: rgba(209, 18, 0,.4);
}
/*============================================*/ 
/*-------cuando se agranda celu largo---------*/ 
/*============================================*/ 
@media (min-width: 576px){
  .boxNav{
    padding-top: 2.5rem!important;
  }
  .linkPortal{
    font-size: 1rem;
  }
} 
/*============================================*/ 
/*-------cuando se agranda a tablet---------*/ 
/*============================================*/ 
@media (min-width: 768px) {
	
} 
/*============================================*/ 
/*-------cuando se agranda notebook---------*/ 
/*============================================*/ 
@media (min-width: 992px){  
  .xlinkPortal{
    font-size: 2rem;
  }
}

/*============================================*/ 
/*-------cuando se agranda a fullhd---------*/ 
/*============================================*/ 
@media (min-width:1200px) {
  .xlinkPortal{
    margin-bottom: 0;
  }
  .boxNav{
    padding-top: 3.1rem!important;
  }
}